Flask==3.0.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.1
SQLAlchemy==1.4.23
pg8000==1.31.2
passlib[bcrypt,argon2]==1.7.4
python-dateutil==2.9.0.post0
gunicorn==21.2.0
pandas==2.3.3
openpyxl==3.1.5
python-dotenv==1.0.1